.nsconverter {
    max-width: 80%;
    margin:0 auto;
    background-color: rgba(0,0,0,0.5);
    border:2px solid red;
    border-radius:10px;
    box-shadow:rgb(15, 4, 4) 3px 10px 8px;
}
.nstitle {
    background-color:greenyellow;
    border-radius:10px;
    padding:0.5em 1em;
    font-size:1.5rem;
    color:black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}
.nstitle:hover {
    opacity:0.4;
}
.container { 
    display:flex;
    justify-content: space-evenly;
    margin:2rem 0;
}
.item {
}
label {
    font-size:1.5rem;
    color:red;
    
}
select {
    background-color:inherit;
    color:aqua;
    font-size:1.5rem;
    padding:5px;
    width:150px;
    border:2px solid black;
}
input {
    display: black;
    margin-top: 20px;
    width:70%;
    font-size:1rem;
    background-color: inherit;
    border:none;
    border-bottom:1px solid red;
    border-radius:10px;
    padding:5px;
    color:whitesmoke;
}
input:focus { 
    outline:none;
    border-bottom:2px solid black;
}
button {
    background-color: lawngreen;
    color:black;
    border:1px solid lawngreen;
    font-size:1rem;
    font-weight: bold;
    padding:5px 10px;
}
button:hover {
    opacity:0.4;
    border:1px solid white;
}
#target {
    border-bottom: 2px solid Red;
    min-width: 100px;
    min-height:20px;
} 
.alert { 
    position:absolute;
    top : 10px;
    left: 0;
    right:0;
    background-color: red;
    color : black;
    font-weight: bold;
    width:300px;
    margin:0 auto;
    padding:10px 0;
    border-radius:40px;
}